/node_modules/
/test/
/lib/resources
/output/*
/backup/*
/config/config/config.yaml

/.VSCodeCounter
/.vscode
/.idea

/plugins/*
!/plugins/example/
!/plugins/amap-plugin/
!plugins/web-plugin/
!plugins/bili-plugin/
!/plugins/led-plugin/
!/plugins/prodia-plugin/
!/plugins/glm-plugin/

test.js
image.jpg
imageBase64.txt