/node_modules/
/test/
/lib/resources
/output/*
/backup/*
/tmp/

# 数据库文件 - 包含敏感配置信息，绝对不能提交！
/data/
/prisma/data/
*.db
*.sqlite
*.sqlite3

/.VSCodeCounter
/.vscode
/.idea
/src-tauri/

/plugins/*
!/plugins/custom/
/plugins/custom/*
!/plugins/custom/exec.js
!/plugins/custom/parser.js

test.js
image.jpg
imageBase64.txt