/node_modules/
/test/
/lib/resources
/output/*
/backup/*
# 配置文件已迁移到SQLite数据库，不再需要忽略
# /config/config/config.yaml
# /config/config/vertex.json
# /presets/custom/*
# !/presets/custom/example.json

/.VSCodeCounter
/.vscode
/.idea
/src-tauri/

/plugins/*
!/plugins/custom/
/plugins/custom/*
!/plugins/custom/exec.js
!/plugins/custom/parser.js
lib/database

test.js
image.jpg
imageBase64.txt